.fundo {
   // background-size: cover;
   // --background: url('../../assets/33.png');
    background-size: cover;
    --background: url('../../assets/icon/fundoionic.jpg')

}

.foo {
    --background: rgba(0,0,0,0.3);
    --border-color: rgba(0,0,0,0.3);
}

.logo {
    height: 90px;
}

