#icongoogle{
    color: #dd4b39;
 }
 
 #twitchlogo{
     color: blueviolet;
 }
 
 #footertext{
     border: 0.5px solid;
     border-right-style: none;
     border-top-style: none;
     border-left-style: none;
     margin-bottom: 5px;
 }
 
 #contacts{
     margin-top: 25px;
 }