<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>  
      </ion-buttons>

      <ion-title>Supernova Comics</ion-title>
     
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nome: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Senha </ion-label>
      <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Confirmar senha </ion-label>
      <ion-input type="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data de nascimento: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cidade: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>    
  <ion-item>
    <ion-label>Estado: </ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-content>
