<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>  
      </ion-buttons>

      <ion-title color="danger" align:center>Supernova Food</ion-title>
      
  </ion-toolbar>
</ion-header>

  <ion-content class="fundo">
    
      <ion-searchbar color="light"></ion-searchbar>
    

    <ion-slides>

     <!-- <ion-slide>
          <ion-card class="cat-1 categoria" color="#fff"><br>
          Pratos
            </ion-card>
      
          <ion-card class="cat-2 categoria" color="#fff"><br>
          Bebidas
            </ion-card>
      
          <ion-card class="cat-3 categoria" color="#fff"><br>
          Doces    
            </ion-card>
      </ion-slide>
    -->
     

    </ion-slides>
    
    <ion-item lines="none">
      <p slot="start">Pratos</p>
      <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
    </ion-item>

    <ion-slides class="slide1" [options]="slideOptions">

      <ion-slide>
          <ion-card class="livro-1 poster1_card" >
             
              <ion-button  color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button>     
            </ion-card>
                  
      </ion-slide>
      

      <ion-slide>
          <ion-card class="livro-2 poster1_card">
              
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="livro-3 poster1_card">
            
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="livro-4 poster1_card">
             
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
            </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="livro-5 poster1_card" >
            
            <ion-button color="danger" class="buy">
                <ion-icon name="cart"></ion-icon>
                Comprar
            </ion-button> 
          </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card class="livro-6 poster1_card">
           
            <ion-button color="danger" class="buy">
                <ion-icon name="cart"></ion-icon>
                Comprar
            </ion-button> 
          </ion-card>
    </ion-slide>

    <ion-slide>
        <ion-card class="livro-7 poster1_card">
            
            <ion-button color="danger" class="buy">
                <ion-icon name="cart"></ion-icon>
                Comprar
            </ion-button> 
          </ion-card>
    </ion-slide>


    </ion-slides>

    <ion-item lines="none">
        <p slot="start">Lanches</p>
       
      </ion-item>
  
      <ion-slides color="danger" class="slide2">
        
        <ion-slide>
          <ion-card class="lanche-1 poster1_card">
            
              <ion-button color="danger" expand="block" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card class="lanche-2 poster1_card">
              <ion-button color="danger"  expand="block" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card  class="lanche-3 poster1_card">
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
          </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card  class="lanche-4 poster1_card">
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
          </ion-card>
        </ion-slide>
        
        <ion-slide>
            <ion-card  class="lanche-5 poster1_card">
                <ion-button  color="danger" class="buy">
                    <ion-icon name="cart"></ion-icon>
                    Comprar
                </ion-button> 
              </ion-card>
        </ion-slide>

        <ion-slide>
          <ion-card  class="lanche-6 poster1_card">
              <ion-button color="danger" class="buy">
                  <ion-icon name="cart"></ion-icon>
                  Comprar
              </ion-button> 
            </ion-card>
      </ion-slide>
  
      </ion-slides>

      <ion-item lines="none">
          <p slot="start">Bebidas</p>
          <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
        </ion-item>
    
        <ion-slides class="slide2">
          
          <ion-slide>
            <ion-card class="bebida-1 poster1_card">
                <ion-button color="danger" class="buy">
                    <ion-icon name="cart"></ion-icon>
                    Comprar
                </ion-button> 
  
            </ion-card>
          </ion-slide>
  
          <ion-slide>
            <ion-card class="bebida-2 poster1_card">
                <ion-button color="danger" class="buy">
                    <ion-icon name="cart"></ion-icon>
                    Comprar
                </ion-button> 
            </ion-card>
          </ion-slide>
  
          <ion-slide>
            <ion-card class="bebida-3 poster1_card">
                <ion-button color="danger" class="buy">
                    <ion-icon name="cart"></ion-icon>
                    Comprar
                </ion-button> 
            </ion-card>
          </ion-slide>
  
          <ion-slide>
            <ion-card class="bebida-4 poster1_card">
                <ion-button color="danger" class="buy">
                    <ion-icon name="cart"></ion-icon>
                    Comprar
                </ion-button> 
            </ion-card>
          </ion-slide>
          
          <ion-slide>
              <ion-card class="bebida-5 poster1_card">
                  <ion-button color="danger"  class="buy">
                      <ion-icon name="cart"></ion-icon>
                      Comprar
                  </ion-button> 
                </ion-card>
          </ion-slide>
    
        </ion-slides>
      
      

  </ion-content>

  <ion-footer id="footertext">
    <ion-toolbar color="dark">
      <div class="ion-text-center">
         <b color="danger">copyright®</b> 2020 supernova™
      </div>
    </ion-toolbar>
</ion-footer>
