<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>  
      </ion-buttons>

      <ion-title color="danger" align:center>Supernova Comics</ion-title>
      
  </ion-toolbar>
</ion-header>

  <ion-content class="fundo">
    
      <ion-searchbar color="light"></ion-searchbar>
    

    <ion-slides>

      <ion-slide>
          <ion-card class="cat-1 categoria" color="#fff"><br>
          Mangá
            </ion-card>
      
          <ion-card class="cat-2 categoria" color="#fff"><br>
          HQs
            </ion-card>
      
          <ion-card class="cat-3 categoria" color="#fff"><br>
          Ação    
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="cat-4 categoria" color="#fff"><br>
          Aventura   
            </ion-card>
      
        <ion-card class="cat-5 categoria" color="#fff"><br>
        Comedia  
          </ion-card>
      
        <ion-card class="cat-6 categoria" color="#fff"><br>
        Romance   
          </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="cat-7 categoria" color="#fff"><br>
        Terror   
          </ion-card>
      
        <ion-card class="cat-8 categoria" color="#fff"><br>
        Suspence    
          </ion-card>

        <ion-card class="cat-8 categoria" color="#fff"><br>
          Minha Lista    
            </ion-card>
      </ion-slide>

    </ion-slides>
    
    <ion-item lines="none">
      <p slot="start">Livros em alta</p>
      <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
    </ion-item>

    <ion-slides class="slide1" [options]="slideOptions">

      <ion-slide>
          <ion-card class="livro-1 poster1_card" >
              
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="livro-2 poster1_card">
              
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="livro-3 poster1_card">
              
            </ion-card>
      </ion-slide>

      <ion-slide>
          <ion-card class="livro-4 poster1_card">
              
            </ion-card>
      </ion-slide>

    </ion-slides>

    <ion-item lines="none">
        <p slot="start">HQs</p>
        <ion-icon name="arrow-forward" slot="end" color="light"></ion-icon>
      </ion-item>
  
      <ion-slides class="slide2">
  
        <ion-slide>
            <ion-card class="livro-5 poster1_card" >
                
              </ion-card>
        </ion-slide>
  
        <ion-slide>
            <ion-card class="livro-6 poster1_card">
                
              </ion-card>
        </ion-slide>
  
        <ion-slide>
            <ion-card class="livro-7 poster1_card">
                
              </ion-card>
        </ion-slide>
  
        <ion-slide>
            <ion-card class="livro-8 poster1_card">
                
              </ion-card>
        </ion-slide>
  
      </ion-slides>

      
      

  </ion-content>

  <ion-footer id="footertext">
    <ion-toolbar color="dark">
      <div class="ion-text-center">
         <b color="danger">copyright®</b> 2019 supernova comics™
      </div>
    </ion-toolbar>
</ion-footer>
